html {
  box-sizing: border-box;
  font-family: 'Karma', serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

div {
  padding: 1rem;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 1rem;
}

article {
  border: solid 3px #987ffa;
  border-radius: 6px;
  padding: 1rem;
display: flex;

}

h2 + img {
  order: -1;
  max-width: 15em;

}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  color: #6f00e7;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
}

/* - *Typefaces:* `Karma`, `Oswald`
- *Text sizes:* `1.4rem`, `2rem`
- *Line-heights:* `1.5`
- *Colours:* `#6f00e7`, `#987ffa`, `#000`
- *Gaps:* `1rem`
- *Margins:* `.25em`, `1.5rem`
- *Paddings:* `.5em 1.5em .7em`, `.25em`, `1rem`
- *Border thicknesses:* `3px`
- *Corner-radii:* `3em`, `6px` */
/* font-family: 'Karma', serif;
font-family: 'Oswald', sans-serif; */
